---
layout: page
title: Publications
permalink: /publications/
description: "Publications from the GeckoLasso research group."
---

{% assign pubs_by_year = site.data.publications | group_by: "year" %}
{% for group in pubs_by_year %}
<h2>{{ group.name }}</h2>
<ul>
  {% for pub in group.items %}
  <li>
    <strong>{{ pub.title }}</strong><br>
    {{ pub.authors }} &mdash; <em>{{ pub.venue }}</em><br>
    <a href="{{ pub.pdf }}">PDF</a> &middot; <a href="{{ pub.doi }}">DOI</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}
